@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

* {
  font-family: "Red Hat Text", sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}

.app-header {
  text-align: center;
}
.nav {
  grid-row: 2;
  grid-column: 1 / 4;
  text-align: center;
}

h2 {
  display: inline;
  margin: 10px;
}

h3 {
  padding: 50px;
}

.home {
  grid-row: 3;
  grid-column: 1 / 4;
  text-align: center;
}

.blue {
  width: 500px;
  height: 500px;
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #78c6ff;
}

.pink {
  width: 500px;
  height: 500px;
  margin: 10px;
  position: relative;
  left: 50%;
  border: 1px solid rgb(0, 0, 0);
  background-color: #ffd4f1;
}

.index {
  grid-row: 3;
  grid-column: 1 / 4;
  text-align: center;
}

.show {
  grid-row: 3;
  grid-column: 1 / 4;
  text-align: center;
}

.product {
  width: 100px;
  height: 100px;
  background-color: pink;
  border: 1px solid black;
}

.edit {
  grid-row: 3;
  grid-column: 1 / 4;
  text-align: center;
}

.new {
  grid-row: 3;
  grid-column: 1 / 4;
  text-align: center;
}

.about {
  grid-row: 3;
  grid-column: 1 / 4;
  text-align: center;
}

.contact {
  grid-row: 3;
  grid-column: 1 / 4;
  text-align: center;
}
.footer {
  grid-row: 4;
  grid-column: 1 / 4;
  text-align: center;
}

a {
  text-decoration: none;
}
